{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
<p>All News</p>

{% endblock title %}

{% block content %}
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
    <h1>{% trans "All news" %}</h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <h6>{% trans "total news" %} - {{ news | length }}</h6>
    <hr>
    {% is_not_subscriber %}
    {% if category_news_list %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
        <table class="col-lg-12 text-center">
            <tr>
                <td>
                    <b>{% trans "Title" %}</b>
                </td>
                <td>{% trans "Category" %}</td>
                <td>
                    <b>{% trans "Description" %}</b>
                </td>
                <td>
                    <b>{% trans "Date" %}</b>
                </td>
            </tr>
        {% for new in category_news_list %}
            <tr>
                <td style="text-align: left">
                     <a href="{% url 'post_detail' new.id %}">{{ new.title | Censor }}</a>
                     <a href="{% url 'post_update' new.id %}"><u>{% trans "Edit" %}</u></a> <!-- добавим ссылку на редактирование товара-->
                     <a href="{% url 'post_delete' new.id %}"><u> {% trans "Delete" %} </u></a> <!-- добавим ссылку на удаление товара-->
                </td>
                <td>
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
                        {% endfor %}
                </td>
                <td style="text-align: left">
                    {{ new.text | truncatechars:20 | Censor }}
                </td>
                <td style="text-align: center">
                    {{ new.date }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

<a href="{% url 'post_create' %}">{% trans "Add a new product" %}</a> <br>


    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

{% endblock content %}
